# PostgreSQL
POSTGRES_DB=phonebook
POSTGRES_USER=admin
POSTGRES_PASSWORD=1234

# PgAdmin
PGADMIN_EMAIL=admin@phonebook.com
PGADMIN_PASSWORD=1234

# Backend
DB_CONNECTION_STRING=Server=postgresql_container;Port=5432;Database=phonebook;User Id=admin;Password=1234;
